*{
    margin: 0px; 
    padding: 0px;
}
.container{
    width: 100%;
    height: auto;
    background: #111111;
    /* border: 1px solid red; */
    overflow: hidden;
}
.leftcontainer{
    width: 40%;
    height: 970px;
    /* border: 1px solid black; */
    float: left;
}
.rightcontainer{
    width: 53.5%;
    height: 970px;
    /* border: 1px solid black; */
    float: left;
}
.sidebar{
    position: fixed;
    color: white;
    /* background: #000; */
    z-index: 10;
    left: 93.5%;
    margin-top: 350px;
    width: 5.5%;
    height: 300px;
    /* border: 1px solid yellow; */
    float: left;
    text-align: center;
}
.sidebar ul{
    list-style:none;
}
.sidebar ul li{
    width: 110px;
    height: 60px;
}
.home{
    background: #FFB400;
}
.bg_c{

    background: #1c1a1a;
}
.sidebar_a:hover{
    background: #FFB400;

}
.sidebar_a{
    transition: 1s;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    display: block;
    text-align: center;
    margin-left: 30px;
    color: white;
    /* box-shadow: 0px 3px 8px rgba(44, 44, 44, 0.24); */
    /* padding-top: 10px; */
    /* font-size: 9px; */
}
.material-symbols-outlined{
    padding-top: 10px;

    font-size: 25px;
}
.left_leftcontainer{
    /* width: 450px;
    height: 100%;
    background: #8b1111;
    border: 1px solid blue;
    overflow: hidden;
    border-left: 20px solid transparent; */
    border-bottom: 970px solid #FFB400;
	/* border-left: 25px solid transparent; */
	border-right: 255px solid transparent;
	height: 0;
	width: 250px;
    position: absolute;
}
.profile_pic{
    margin-top: 40px;
    width: 580px;
    height: 890px;
    border-radius: 50px;
    position: relative;
    margin-left: 120px;
}
.hi{
    margin-top: 300px;
    margin-left: 150px;
    color: #FFB400;
    font-size: 55px;
    font-family: 'Poppins', sans-serif;
}
.des{
    color: white;
    margin-left: 35px;
}
.intro{
    width: 650px;
    margin-top: 30px;
    /* border: 1px solid red; */
    color: white;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    margin-left: 150px;
}

.more_btn{
    width: 200px;
    height: 60px;
    border: 1px solid #FFB400;
    display: block;
    text-decoration: none;
    color: white;
    line-height: 60px;
    /* text-align: center; */
    padding-left: 30px;
    border-radius: 50px;
    margin-left: 150px;
    margin-top: 30px;
    float: left;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;



}
.more_btn:hover{
    background: #FFB400;
    transition: background-color 0.5s;

}
.cv_btn{
    width: 200px;
    height: 60px;
    border: 1px solid #FFB400;
    display: block;
    text-decoration: none;
    color: white;
    line-height: 60px;
    /* text-align: center; */
    padding-left: 30px;
    border-radius: 50px;
    /* margin-left: 150px; */
    margin-top: 30px;
    float: left;
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;


}
.cv_btn:hover{
    background: #FFB400;
    transition: background-color 0.5s;

}
.arrow{
    /* display: block; */
    height: 45px;
    width: 55px;
    margin-left: -60px;
    border-radius: 50%;
    text-align: center;
    margin-top: 32px;
    color: white;   
    padding-top: 10px;
    font-size: 35px;
    background: #FFB400;
    border: 2px solid #FFB400;
    cursor: pointer;
}
.left_about_page{
    width: 93%;
    float: left;
}
.about_title{
    color: white;
    margin-top: 70px;
    /* border: 1px solid red; */
    padding-left: 750px;
    height: 100px;
    line-height: 100px; 
    font-size: 55px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
.me{
    color: #FFB400;
}
.left_about{
    width: 50%;
    height:500px;
    border: 1px solid red;
    float:left;
}
.right_about{
    width: 49%;
    height:500px;
    border: 1px solid red;
    float:left;
}
.personal_info{
    width:600px;
    margin-left: 200px;
    height: 500px;
    border: 1px solid red;
}
.personal{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 29px;
    margin-bottom: 20px;
}
.personal_span{
    /* width: 600px; */
    height: 30px;
    display: block;
    float: none;
    /* border: 1px solid red; */
    color: rgb(206, 200, 200);
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
}
.personal_span_value{
    color: white;
}